body {
  background-color: antiquewhite;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#container {
  background-color: beige;
  width: 350px;
  height: 270px;
  flex-direction: column;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  left: 554px;
  top: 80px;
}

#container,
#message {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background: seashell;
  border: 1px solid white;
  margin-top: 50px;
  background-color: whitesmoke;
  color: tomato;
  font-family: sans-serif;
  font-size: 1.1rem;
  border-radius: 2px;
  padding: 5px 5px;
}

input {
  background: white;
  border: 1px solid white;
  transform: scale(1.4);
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  margin-top: 90px;
}

#message {
  font-family: sans-serif;
  margin-top: 40px;
  width: 100.5%;
  background: #333;
  color: white;
  height: 30px;
  position: relative;
  top: 30px;
  border-radius: 0 0 3px 3px;
}
h1 {
  font-family: sans-serif;
  position: absolute;
  top: 5%;
  color: #333;
}
